{% extends 'base.html' %}

{% block content %}

<h1>Your invoices</h1>

{% if invoices %}

 <a class="btn btn-default" href="{% url 'invoices:invoices-csv' %}"><span class="glyphicon glyphicon-download-alt"></span> Download CSV</a></p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Invoice</th>
      <th scope="col">Client</th>
      <th scope="col">PK (debug)</th>
      <th scope="col">n_projects (debug)</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  {% for invoice in invoices %}
  <tr>
    <td>
      <a href="{% url 'invoices:invoice-detail' invoice.pk %}">{{ invoice }}</a>
    </td>
    <td>
      <a href="{% url 'projects:client-detail' invoice.client.pk %}">{{ invoice.client }}</a>
    </td>
    <td>
      {{ invoice.pk }}
    </td>
    <td>
      {{ invoice.project.count }}
    </td>
    <td>
      <a href="{% url 'invoices:edit-invoice' invoice.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
      <a href="{% url 'invoices:delete-invoice' invoice.id %}"><span class="glyphicon glyphicon-trash"></span></a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No invoices are available.</p>
{% endif %}

{% endblock %}
