{% extends 'base.html' %}

{% block content %}

<h1>
  Invoice {{ invoice }}
  <a class="btn btn-default" href="{% url 'invoices:edit-invoice' invoice.pk %}">
    <span class="glyphicon glyphicon-pencil"></span>
  </a>
  <a class="btn btn-default" href="{% url 'invoices:delete-invoice' invoice.pk %}">
    <span class="glyphicon glyphicon-trash"></span>
  </a>
</h1>

<ul>
  <li>Client: {{ invoice.client }}</li>
  <li>Amount: {{ invoice.get_amount }}€</li>
  <li>Paid: {{ invoice.is_paid }}</li>
</ul>

{% if projects %}
<h3>Invoice is bound to these projects</h3>
<ul>
  {% for project in projects %}
  <li><a href="{% url 'projects:project-detail' project.pk %}">{{ project }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>No explicit projects associated (i.e. I'm using all available ones).</p>
{% endif %}

{% if invoice.get_attached_sessions %}
<h3>These sessions are contained</h3>
<ul>
  {% for session in invoice.get_attached_sessions %}
  <li>{{ session }}</li>
  {% endfor %}
</ul>
{% else %}
<p>No sessions are contained by this invoice</p>
{% endif %}

{% endblock %}
