{% extends 'base.html' %}

{% block content %}

<h1>
  Invoice {{ invoice }}
  <a class="btn btn-default" href="{% url 'invoices:edit-invoice' invoice.pk %}">
    <span class="glyphicon glyphicon-pencil"></span>
  </a>
  <a class="btn btn-default" href="{% url 'invoices:delete-invoice' invoice.pk %}">
    <span class="glyphicon glyphicon-trash"></span>
  </a>
  <a class="btn btn-default" href="{% url 'invoices:invoice-print' invoice.pk %}">
    <span class="glyphicon glyphicon-print"></span>
  </a>
</h1>

<table class="table table-nonfluid">
  <tr>
    <td><strong>Client</strong></td><td>{{ invoice.client }}</td>
  </tr>
  <tr>
    <td><strong>Net amount</strong></td><td> {{ invoice.get_amount | floatformat:"2" }}€</td>
  </tr>
  <tr>
    <td><strong>Gross amount</strong></td><td> {{ invoice.get_gross_total | floatformat:"2" }}€</td>
  </tr>
  <tr>
    <td><strong>Paid</strong></td><td> {% if invoice.is_paid %}{{ invoice.paid_date }}{% else %}<span class="text-danger">No</span>{% endif %}</td>
  </tr>
</table>

{% if projects %}
<h3>Invoice is bound to these projects</h3>
<ul>
  {% for project in projects %}
  <li><a href="{% url 'projects:project-detail' project.id %}">{{ project }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>No explicit projects associated (i.e. I'm using all available ones).</p>
{% endif %}

{% if invoice.get_attached_sessions %}
<h3>These sessions are contained</h3>
<ul>
  {% for session in invoice.get_attached_sessions %}
  <li><a href="{% url 'projects:session-detail' session.id %}">{{ session }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>No sessions are contained by this invoice</p>
{% endif %}

{% endblock %}
