{% extends 'base.html' %}

{% block content %}

<h1>
  Client: {{ client }}
  <a class="btn btn-default" href="{% url 'projects:edit-client' pk=client.pk %}">
    <span class="glyphicon glyphicon-pencil"></span>
  </a>
  <a class="btn btn-default" href="{% url 'projects:delete-client' pk=client.pk %}">
    <span class="glyphicon glyphicon-trash"></span>
  </a>
</h1>

<h4>Billing address</h4>

<p>{{ client.billing_address | linebreaks }}</p>

<h4>Invoice Email</h4>

<p>{{ client.invoice_email }}</p>

<h4>Payment Terms</h4>

<p>{{ client.payment_terms }}</p>

<h3>Projects for this client</h3>

<ul>
  {% for project in client.project_set.all %}
  <li><a href="{% url 'projects:project-detail' project.id %}">{{ project.name }}</a></li>
  {% endfor %}
</ul>

{% endblock %}
