{% extends 'base.html' %}

{% block content %}

<h1>Hello there!</h1>

{% if user.is_authenticated %}
  <p>
    Hello {{ user.get_username }}! (<a href="{% url 'logout' %}">Logout</a>)
  </p>
  {% else %}
  <p>
    Please <a href="{% url 'login' %}">login</a>!
  </p>
{% endif %}

<p>You'll first want to add some of your clients, then some projects for them, and finally some work sessions:

<ul>
  <li><a href="clients/">The Clients overview</a></li>
  <li><a href="projects/">The Projects overview</a></li>
  <li><a href="sessions/">The Sessions overview</a></li>
</ul>

<p>After that, check out some <a href="{% url 'reports:index' %}">reports</a>!</p>

{% endblock %}
