{% extends 'projects/base.html' %}

{% block content %}

<h1>
  Project: {{ project }}
  <a class="btn btn-default" href="{% url 'projects:edit-project' pk=project.pk %}">
    <span class="glyphicon glyphicon-pencil"></span>
  </a>
  <a class="btn btn-default" href="{% url 'projects:delete-project' pk=project.pk %}">
    <span class="glyphicon glyphicon-trash"></span>
  </a>

</h1>

<h4>Client</h4>

{{ project.client }}

<h4>Running</h4>

{% if project.is_active %}
  <p>Project is <strong>active</strong></p>
  <p>It started on {{ project.start_date }}</p>
{% else %}
  <p>Project is <strong>not active</strong></p>
  <p>It ran from {{ project.start_date }} until {{ project.end_date }}</p>
{% endif %}

<h4>Paying</h4>

<p>{{ project.rate }} per {{ project.rate_unit }}</p>

<h3>Sessions logged:</h3>

<ul>
  {% for session in project.session_set.all %}
    <li><a href="{% url 'projects:session-detail' pk=session.pk %}">{{ session.date }}</a></li>
  {% endfor %}
</ul>

{% endblock %}
