<h1>Your projects</h1>

{% if projects %}
<ul>
  {% for project in projects %}
  <li>
    <a href="{% url 'projects:project-detail' project.id %}">{{ project.name }}</a> <br />
    <form action="{% url 'projects:remove-project' project.id %}" method="post">
      {% csrf_token %}
      <input type="submit" value="delete project" />
    </form>
    <ul>
    <li>Start {{ project.start_date }}</li>
    <li>End {{ project.end_date }}</li>
    <li>Rate: {{ project.rate }} € per {{ project.rate_unit }}</li>
    </ul>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No projects are available.</p>
{% endif %}
