{% extends 'projects/base.html' %}

{% block content %}

<h1>
  Project: {{ project }}
  <a class="btn btn-default" href="{% url 'projects:edit-project' pk=project.pk %}">
    <span class="glyphicon glyphicon-pencil"></span>
  </a>
  <a class="btn btn-default" href="{% url 'projects:delete-project' pk=project.pk %}">
    <span class="glyphicon glyphicon-trash"></span>
  </a>

</h1>

<p>It pays {{ project.rate }} per {{ project.rate_unit }}</p>

<p>It runs from {{ project.start_date }} until {{ project.end_date }}</p>

<h3>Sessions logged:</h3>

<ul>
  {% for session in project.session_set.all %}
    <li>A session from {{ session.date }}</li>
  {% endfor %}
</ul>

{% endblock %}
