{% extends 'base.html' %}

{% block content %}

<h1>
  Session from {{ session.date }}
  <a class="btn btn-default" href="{% url 'projects:edit-session' pk=session.pk %}">
    <span class="glyphicon glyphicon-pencil"></span>
  </a>
  <a class="btn btn-default" href="{% url 'projects:delete-session' pk=session.pk %}">
    <span class="glyphicon glyphicon-trash"></span>
  </a>
</h1>

<h4>Project</h4>

<p>Client: <a href="{% url 'projects:client-detail' session.project.client.id %}">{{ session.project.client }}</a></p>
<p>Project: <a href="{% url 'projects:project-detail' session.project.id %}">{{ session.project }}</a></p>
<p>Invoiced: {% if session.invoice %} <a href="{% url 'invoices:invoice-detail' session.invoice.id %}">{{ session.invoice }}</a> {% else %} Not yet {% endif %}</p>

<h4>Details</h4>
<p>Worked {{ session.units_worked }} {{ session.project.rate_unit }}s </p>
<p>Duration: From {{ session.start_time }} to {{ session.end_time }}</p>
<p>Description: {{ session.description | linebreaks }}</p>

<h4>Earned</h4>

<p>Earned {{ session.get_money_earned }}</p>

<p>(paying {{ session.project.rate }} per {{ session.project.rate_unit }})</p>

{% endblock %}
