{% extends 'projects/base.html' %}

{% block content %}

<h1>Your sessions</h1>

<p><a class="btn btn-default" href="{% url 'projects:add-session' %}"><span class="glyphicon glyphicon-plus"></span> Add session</a></p>

{% if sessions %}
<table class="table">

  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Client</th>
      <th scope="col">Units</th>
      <th scope="col">Earned</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  
  {% for session in sessions %}
  <tr>
    <td>
      <a href="{% url 'projects:session-detail' session.id %}">{{ session.date }}</a>
    </td>
    <td>
      {{ session.project.client }}
    </td>
    <td>
      {{ session.units_worked }} {{ session.project.rate_unit }}s
    </td>
    <td>
      {{ session.get_money_earned }}
    </td>
    <td>
      <a href="{% url 'projects:edit-session' session.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
      <a href="{% url 'projects:delete-session' session.id %}"><span class="glyphicon glyphicon-trash"></span></a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No sessions are available.</p>
{% endif %}

{% endblock %}
