{% extends 'base.html' %}

{% block content %}

<h1>Your sessions</h1>

<ul>
  <li><a href="{% url 'projects:sessions' %}">List all sessions</a></li>
  <li><a href="{% url 'projects:sessions-not-invoiced-list' %}">List sessions not yet invoiced</a></li>
</ul>

<p><a class="btn btn-default" href="{% url 'projects:add-session' %}"><span class="glyphicon glyphicon-plus"></span> Add session</a> <a class="btn btn-default" href="{% url 'projects:session-csv' %}"><span class="glyphicon glyphicon-download-alt"></span> Download CSV</a></p></p>

{% if sessions %}
<table class="table">

  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Client</th>
      <th scope="col">Invoice</th>
      <th scope="col">Units</th>
      <th scope="col">Earned</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  
  {% for session in sessions %}
  <tr>
    <td>
      <a href="{% url 'projects:session-detail' session.id %}">{{ session.date }}</a>
    </td>
    <td>
      <a href="{% url 'projects:client-detail' session.project.client.id %}">{{ session.project.client }}</a>
    </td>
    <td>
      {% if session.invoice %}<a href="{% url 'invoices:invoice-detail' session.invoice.pk %}">{{ session.invoice }}</a>{% endif %}
    <td>
      <!-- 
	   This was in place while rate_unit = 'fix' was still shown as "1 fix" and I couldn't split it up into hours.
	   {{ session.units_worked | floatformat:"-2" }} {{ session.project.rate_unit }}{% if session.units_worked != 1 %}s{% endif %}
      -->
      {{ session.units_worked | floatformat:"-2" }} {% if session.project.rate_unit == 'hr' %}hr{% elif session.project.rate_unit == 'fix' %}hr{% elif session.project.rate_unit == 'day' %}day{% endif %}{% if session.units_worked != 1 %}s{% endif %}
    </td>
    <td>
      {{ session.get_money_earned | floatformat:"2" }}
    </td>
    <td>
      <a href="{% url 'projects:edit-session' session.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
      <a href="{% url 'projects:delete-session' session.id %}"><span class="glyphicon glyphicon-trash"></span></a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No sessions are available.</p>
{% endif %}

{% endblock %}
